<div class="card-container">
  <% @tasks.each do |task| %>
    <% if task.task_type == "todo" %>
      <div class="card">
        <h1>Todo</h1>
        <ul>
          <li>
            <%= link_to task.name, task%>
          </li>
        </ul>
      </div>
    <% elsif task.task_type == "doing" %>
      <div class="card">
        <h1>Doing</h1>
        <ul>
          <li>
            <%= link_to task.name, task%>
          </li>
        </ul>
      </div>
    <% else %>
      <div class="card">
        <h1>Done</h1>
        <ul>
          <li>
            <%= link_to task.name, task%>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>