<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h1>Todo</h1>
      <hr>
    </div>
    <ul>
      <% @tasks.each do |task| %>
        <% if task.task_type == "todo" %>
          <li>
            <%= link_to task.name, task%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>Doing</h1>
      <hr>
    </div>
    <ul>
      <% @tasks.each do |task| %>
        <% if task.task_type == "doing" %>
          <li>
            <%= link_to task.name, task%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="card">
    <div class="card-header">
      <h1>Done</h1>
      <hr>
    </div>
    <ul>
      <% @tasks.each do |task| %>
        <% if task.task_type == "done" %>
          <li>
            <%= link_to task.name, task%>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to "[List It]", "/tasks/new", :class => "button primary" %>