<h1 class="landing-text">List[it]</h1>
<p style="font-size:2rem;margin:0;">More than just a todo app</p>
<%= link_to "Get Started", "/tasks", :class => "button secondary", :style => "position:fixed;right:0;top:0;margin: 0.5rem;"%>